body {
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;
  font-family: sans-serif;
  color: #2f2f2f;
  text-align: center;
  h1 {
    margin: 20px 0;
  }
  /* Main grid: 18 columns (for groups), 9 rows total (7 main periods + 2 for f-block) */
  #periodicTable {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 10%;
    gap: 5px;
    padding: 0px 20px;
    min-height: fit-content;
  }
  /* Each element cell */
  .element {
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px;
    transition: transform 0.2s, background-color 0.2s;
    border: 1px solid #555;
    box-shadow: 0 0 2px #555;
    cursor: pointer;
  }
  .element:hover {
    transform: scale(1.05);
    background-color: #e0f7fa;
  }
  .atomic-number {
    font-size: 10px;
    text-align: left;
    color: #000000;
  }
  .symbol {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
  }
  .name {
    font-size: 11px;
    color: #3a3a3a;
  }
  .atomic-mass {
    font-size: 10px;
    text-align: right;
    color: #3a3a3a;
  }
  .info {
    background-color: #fff5;
    border-radius: 4px;
    display: flex;
    border: 0px solid #555;
    box-shadow: 0 0 2px #5555, 0 0 5px #5553;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .active {
    box-shadow: inset 0 0 2px #000, inset 0 0 5px #003;
    border-color: #000;
    background-color: #fff !important;
    outline-width: 4px;
    outline-style: dashed;
  }
  .reactive_non-metals {
    background-color: #8282e5;
  }
  .alkali_metals {
    background-color: #82e5e0;
  }
  .alkaline_earth_metals {
    background-color: #e5b282;
  }
  .transition_metals {
    background-color: #d9e582;
  }
  .post-transition_metals {
    background-color: #82e5b0;
  }
  .metalloids {
    background-color: #aa8e8e;
  }
  .noble_gases {
    background-color: #04a7ff;
  }
  .lanthanides {
    background-color: #eb71f6;
  }
  .actinides {
    background-color: #f671a0;
  }
  .unknown_properties {
    background-color: #a7a6a6;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  .card-symbol {
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4dc2ff;
  }
  .element-name {
    background-color: #4dc2ff;
    margin-top: 5px;
    padding: 1px 5px;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid #00000055;
  }
  .middle {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0 5px;
    font-size: 12px;
  }

  .info-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: left;
  }

  .summary {
    font-size: 10px;
    margin-top: 10px;
    /* background-color: purple; */
    text-align: justify;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #04a7ff; */
  }

  .bohr-model {
    display: flex;
    width: 98%;
    aspect-ratio: 1/1;
    background-color: #000;
    border-radius: 5px;
    /* margin-top: 5px; */
  }
  .title-container {
    margin: 10px auto;
  }
  .title {
    font-size: 40px;
    font-weight: 600;
  }
  .author {
    color: #9b9a9a;
    font-size: 12px;
  }
  .author > a {
    color: #6c6ea1;
  }

  /* responsive design */
  /* Responsive adjustments for smaller screens */
  @media (max-width: 868px) {
    #periodicTable {
      grid-template-columns: repeat(9, 1fr); /* Reduce the number of columns */
      gap: 3px;
      padding: 0px 5px;
    }

    .element {
      padding: 1px;
      font-size: 5px;
    }

    .atomic-number {
      font-size: 5px;
    }

    .symbol {
      font-size: 10px;
    }

    .name {
      font-size: 6px;
    }

    .atomic-mass {
      font-size: 5px;
    }

    /* Adjust info block for smaller screens */

    .card-symbol {
      font-size: 10px !important;
      width: 20px;
      height: 20px;
    }

    .element-name {
      margin-top: 1px;
      padding: 1px 2px;
      font-size: 10px !important;
    }
    .middle {
      gap: 1px;
      padding: 0 1px;
      font-size: 5px;
    }

    .info-columns {
      gap: 1px;
    }

    .column {
      gap: 1px;
    }

    .summary {
      font-size: 5px !important;
      margin-top: 2px;
    }

    .bohr-model {
      /* width: 30%; */
      /* aspect-ratio: 1/1 !important; */
      max-height: 60px !important;
      align-self: center;
    }
    .info-columns {
      gap: 2px;
    }
  }
  @media (max-width: 768px) {
    #periodicTable {
      grid-template-columns: repeat(9, 1fr); /* Reduce the number of columns */
      gap: 3px;
      padding: 0px 5px;
    }

    .element {
      padding: 1px;
      font-size: 5px;
    }

    .atomic-number {
      font-size: 5px;
    }

    .symbol {
      font-size: 10px;
    }

    .name {
      font-size: 6px;
    }

    .atomic-mass {
      font-size: 5px;
    }

    /* Adjust info block for smaller screens */

    .card-symbol {
      font-size: 5px !important;
      width: 10px;
      height: 10px;
    }

    .element-name {
      margin-top: 1px;
      padding: 1px 2px;
      font-size: 5px !important;
    }
    .middle {
      gap: 1px;
      padding: 0 1px;
      font-size: 3px;
    }

    .info-columns {
      gap: 1px;
    }

    .column {
      gap: 1px;
    }

    .summary {
      font-size: 3px !important;
      margin-top: 2px;
    }

    .bohr-model {
      /* width: 30%; */
      /* aspect-ratio: 1/1 !important; */
      max-height: 40px !important;
      align-self: center;
    }
    .info-columns {
      gap: 2px;
    }
    .d-image,
    .d-model {
      height: 150px;
      width: 150px;
    }
    .title {
      font-size: 25px;
    }
  }

  /* Further adjustments for extra small screens (phones) */
  @media (max-width: 480px) {
    #periodicTable {
      grid-template-columns: repeat(4, 1fr); /* Show 4 columns */
    }

    .element {
      padding: 1px;
      font-size: 6px;
    }
    .atomic-number {
      font-size: 2px;
    }

    .symbol {
      font-size: 5px;
    }

    .name {
      font-size: 3px;
    }

    .atomic-mass {
      font-size: 2px;
    }
    .info {
      grid-column-start: 1;
      grid-column-end: span 4;
    }

    .bohr-model {
      width: 100%;
    }
  }
}

.details {
  margin: 20px 20px;
  padding: 10px 5px;
  width: fit-content;
  justify-content: left;
}
.d-visuals {
  width: fit-content;
  margin: 5px 0px;
}
.d-name {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
  justify-content: left;
  width: fit-content;
}
.d-v {
  display: inline-block;
}
.d-image,
.d-model {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.d-model {
  background-color: #000;
}
.d-info {
  font-size: 18;
  width: fit-content;
  text-align: left;
}
.h {
  display: none;
}
hr {
  margin-top: 70px;
  margin-bottom: 0px;
}
